footer {
    width: 100%;
    min-height: 200px;
    background: #636466;
    border-top: 10px solid #8EC447;
}

footer section {
    padding: 90px;
    text-align: center;
}

footer article {
    width: 48%;
    display: inline-block;
    padding: 5px;
}
