.gameWrapper {
    border-bottom: 1px solid #888888;
}

.gameWrapper > div {
    display: none;
    text-align: center;
}

.gameWrapper header {
    background: linear-gradient(to right, #636466 0%,#888888 50%,#ffffff 100%); /* W3C */
    color: #8EC447;
    font-weight: bolder;
    vertical-align: middle;
    padding: 10px;
}
.gameWrapper header:hover {
    cursor: pointer;
}

.gameWrapper .info {
    text-align: left;
    margin: 0 auto;
    width: 90%;
    border-radius: 15px;
    border: 1px solid #c0c0c0;
    background: #636466;
    color: #ffffff;
    padding: 15px;
    margin-bottom: 15px;
}

.gameWrapper .info tr td:first-child{
    width: 25%;
}

.gameWrapper .info table {
    width: 100%;
}

.gameWrapper .info tr:first-child {
    border-top: 1px solid #8EC447;
}