/** Nav css rules **/
#header{
    background: #499bea; /* Old browsers */
    background: -moz-linear-gradient(top, #2D2D2E 0%, #636466 53%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2D2D2E), color-stop(53%,#636466)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #2D2D2E 0%,#636466 53%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #2D2D2E 0%,#636466 53%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #2D2D2E 0%,#636466 53%); /* IE10+ */
    background: linear-gradient(to bottom, #2D2D2E 0%,#636466 53%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2D2D2E', endColorstr='#636466',GradientType=0 ); /* IE6-9 */
    width: 100%;
    height: 250px;
}

.link {
    color: #FFFFFF;
    font-weight: bold;
    width: 100px;
    display:inline;
    border-bottom: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}
.selected {
    background: #636466;
    pointer-events: none;
    cursor: default;
    border-bottom: 3px solid #8EC447;
}

#header a {
    text-decoration: none;
    display: block;
}
#header > nav {
    background: #000000;
	width: 80%;

	margin: 0 auto;
	position: relative;
	bottom: -55px;
    padding-left: 20%;
}

#header a{
    display:inline-block;
}
#header a:hover {
    display:inline-block;
}

#header > #banner {
    position: relative;
    z-index: 100;
    bottom: 40px;
    left: 60%;
}

#header > #logo {
    position: relative;
    left: 50%;
    top: 50px;
    margin-left: -250px;
    margin-bottom: 0px;
    z-index: 1000;
}