#side_bar {
    width: 100%;
    background: #636466;
    border-left: 5px solid #8EC447;
    padding: 15px;
}

#side_bar header{
    color: #ffffff;
    font-weight: bolder;
}
#side_bar section {
    padding-bottom: 10px;
    border-bottom: 1px solid #8EC447;
}
#side_bar section a {
    text-decoration: none;
    color: #cccccc;
    margin-left: 5px;
    display: block;
    height: 100%;
    padding-top: 4%;
}
#side_bar section .button {
    border-bottom: 1px solid #cccccc;
    height: 39px;
    margin: 0;
}
#side_bar section .button * {
    vertical-align: middle;
}

#side_bar section .button:hover {
    cursor: pointer;
    background: #2D2D2E;
}

.button img {
    float: left;
}