.entry {
    border-bottom: 2px solid #737373;
    margin-bottom: 50px;
}

.entry p {
    margin-top: 10px;
}
.entry header {
    background: #000000;
    color: #ffffff;
    padding: 15px;
}
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
