<section id="left">
    <article>
        <header><h1>Not found <span>:(</span></h1></header>
        <p>Sorry, but the page you were trying to view does not exist.</p>
        <p>It looks like this was the result of either:</p>
        <ul>
            <li>a mistyped address</li>
            <li>an out-of-date link</li>
        </ul>
        <script>
            var GOOG_FIXURL_LANG = (navigator.language || '').slice(0,2),GOOG_FIXURL_SITE = location.host;
        </script>
        <script src="//linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js"></script>
    </article>
    <img src="img/peleaaaa.jpg" alt="pelea">
</section>