<section id="side_bar">
    <img id="metal_slug_gif" src="img/ms.gif" alt="OOps!" />
    <section style="margin-top: -30px;">
        <header>
            Tiendas
        </header>
        <article>
            <p class="button"><img src="img/steam.png" alt="steam" /><a href="http://store.steampowered.com/" target="_blank">Steam</a></p>
            <p class="button"><img src="img/origin.png" alt="origin" /><a href="http://www.origin.com" target="_blank">Origin</a></p>
            <p class="button"><img src="img/gog.png" alt="gog" /><a href="http://www.goodoldgames.com" target="_blank">GoG</a></p>
            <p class="button"><img src="img/humble.png" alt="humble bundle" /><a href="https://www.humblebundle.com" target="_blank">Humble Bundle</a></p>
            <p class="button"><img src="img/gocdkeys.png" alt="gocdkeys" /><a href="http://www.gocdkeys.com" target="_blank"></a></p>
        </article>
    </section>
</section>